.main {
	padding: 20px 50px;
	background-color: #7f7f7f;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 25px;

	.link {
		padding: 12px 24px;
		font-size: 16px;
		font-weight: 600;
		background-color: #fff;
		border-radius: 10px;
	}
}
