.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	padding: 20px 62px;
	background-color: #9d9d9d;
	border-radius: 10px;

	.title {
		font-weight: 600;
		font-size: 30px;
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}
}

.inputError {
	font-size: 12px;
}
